<header>

  <div class="left-header">
    <a href="#">
      <img src="#">
    </a>
    <span class="riverside">Riverside</span>
    <span class="fdt">Food Delivery & Takeout</span>
  </div>

  <ul class="right-header">
    <li class="home">
      <a href="go-home">HOME</a>
    </li>
    <li class="support">
      <a href="go-support">Support
        <img src="#">
      </a>
    </li>
    <li class=sign-in>
      <a href="go-sign-in">SIGN IN</a>
    </li>
  </ul>

</header>
