<header>

  <div class="left-header">
    <a href="#">
      <img src="#">
    </a>
    <span class="riverside">Riverside</span>
    <span class="fdt">Hero Delivery & Takeout</span>
  </div>

  <ul class="right-header">
    <li class="home">
      <a href="go-home">HOME</a>
    </li>
    <li class="support">
      <a href="go-support">Support
        <img src="#">
      </a>
    </li>
    <li class=sign-in>
      <a href="go-sign-in">SIGN IN</a>
    </li>
  </ul>

</header>

<div class="title">

  <a href="go back">Back to Real Life</a>

  <div class="large-logo">
    <img src="#">
  </div>

  <ul class="restaurant-description">
    <li class="restaurant-name">Super Hero Services</li>
    <li class="restaurant-address">6736 Brockton Ave Riverside CA, 92506</li>
    <li class="yelp-review">
      <img src="#">
    </li>
    <li class="store-hours">Open Today: Dusk-Dawn | </li>
    <li class="delivery-time"> Delivery Est: 45-60 min | </li>
    <li class="delivery-minimum"> Delivery Min: $25.00 | </li>
    <li class="delivery-cost"> Delivery Cost: Free</li>
  </ul>

  <div class="menu-toggles">
    <label for="menu-toggle">Menu</label>
    <label for="info-toggle">Hours & Info</label>
    <label for="reviews">Reviews</label>
  </div>

</div>

<div class="search-menu">

  <input type="text" placeholder="Search Menu Items">
  <i href="#"></i>

</div>

<div class="contents">

  <div class="menu-items">

    <ul class="hero-items">
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
      <li class="heroes"></li>
    </ul>

  </div>

  <div class="order-bar">

    <div class="your-order">
      <h5>Your Order</h5>
      <a href="#">Super Hero Services</a>
    </div>

    <div class="company-name">
      <img src='#'>
    </div>

    <div class="item-subtotal">
      <p class="item-price">Item</p>
    </div>

    <div class="order-total"></div>

    <div class="delivery-pickup">

      <div class="delivery-icon-box">
        <div class="delivery-icon">
          <i href="#">Delivery</i>
        </div>
          <input type="checkbox">
      </div>

      <div class="pickup-icon-box">
        <div class="pickup-icon">
          <i href="#">Pickup</i>
        </div>
          <input type="checkbox">
      </div>

    </div>

<footer>

  <a href="#">HOME</a>
  <a href="#">CAREERS</a>
  <a href="#">SUPPORT</a>
  <a href="#">BLOG</a>
  <a href="#">GETHEROES.COM</a>
  <a href="#">PRIVACY POLICY</a>
  <a href="#">TERMS OF USE</a>

</footer>
