<div class="title">

  <a href="go back">Back to Riverside Restaurants</a>

  <div class="large-logo">
    <img src="#">
  </div>

  <ul class="restaurant-description">
    <li class="restaurant-name">Angel Thai Cuisine</li>
    <li class="restaurant-address">6736 Brockton Ave Riverside CA, 92506</li>
    <li class="yelp-review">
      <img src="#">
    </li>
    <li class="store-hours">Open Today: 4:00-8:00pm | </li>
    <li class="delivery-time"> Delivery Est: 45-60 min | </li>
    <li class="delivery-minimum"> Delivery Min: $25.00 | </li>
    <li class="delivery-cost"> Delivery Cost: Free</li>
  </ul>

  <div class="menu-toggles">
    <label for="menu-toggle">Menu</label>
    <label for="info-toggle">Hours & Info</label>
    <label for="reviews">Reviews</label>
  </div>

</div>
