@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

body{
  width:1280px;
  height:auto;

}

header{
  padding-left:100px;
  padding-right:100px;
  padding-top:15px;
  padding-bottom:15px;
  background-color:purple;
}

.left-header{
  display:inline-block;
}

.vigilante{
  display:inline-block;
  padding-right:15px;
}

.vigilante-header{
  display:inline-block;
  font-size:28px;
  a{
    text-decoration:none;
    color:silver;
  }
}

.right-left-header{
  display:inline-block;
}

.riverside{
  display:block;
  font-weight:bold;
  color:silver;
}

.hdt{
  display:block;
  color:silver;
}

.right-header{
  display:inline-block;
  float:right;
  a {
    color:silver;
    text-decoration:none;
  }
}

.home,
.support{
  display:inline-block;
  margin-right:10px;
  margin-left:10px;
}

.sign-in{
  display:inline-block;
  padding:10px;
  margin-left:10px;
  border:1px solid gray;


}

.title{
  background-image: url("../../images/hero-landscape.jpg");
  background-size: cover;
  background-position: center center;
}

.title-contents{
  padding-left:100px;
  padding-right:100px;
  background-color:rgba(128, 128, 128, .7);
}

.go-back{
  display:block;
  padding-bottom:40px;
  padding-top:10px;
  font-weight:bold;
  a{
    color:white;
  }
}

.main-title-contents{
  display:block;
}

.large-logo{
  display:inline-block;
  background-color:green;
  border-radius:50%;
}

.restaurant-description{
  display:inline-block;
  list-style:none;
  padding-bottom:40px;
  color:white;
  }

.restaurant-name{
  font-size:24px;
  padding-bottom:7px;
}

.restaurant-address{
  padding-bottom:3px;
}

.stars{
  display:inline-block;
}

.yelp{
  display:inline-block;
}

.store-hours,
.delivery-time,
.delivery-minimum,
.delivery-cost{
  display:inline-block;
}

.menu-toggles{
  display: inline-block;
  border-top: 1px solid gray;
  background-color:white;
  border-bottom:1px solid black;

  div {
    border-right: 1px solid gray;
  }
}

.menu-toggle{
  display:inline-block;
  padding:10px;
  border-left: 1px solid gray;
  background-color:green;
  /* border:1px solid gray; */
}

.info-toggle{
  display:inline-block;
  padding:10px;
  /* border:1px solid gray; */
}

.reviews{
  display:inline-block;
  padding:10px;
  /* border:1px solid gray; */
}

.search-menu{
  padding-left:100px;
  height:60px;
  background-color: purple;
}

.search-menu-bar{
  border-bottom:2px solid green;
  height:50px;
  width:261px;
}

.contents{
  padding-right:100px;
  padding-left:100px;
  background-color:black;
  @include outer-container(1280px);
}

.main-container{
  @include span-columns(12);
  padding-bottom:40px;
  border-bottom:1px solid gray;
}

.menu-items{
  @include span-columns(8);
  padding:0px;
}

.hero-list-title{
  padding:15px;
  border:1px solid green;
  list-style:none;
  font-size:20px;
  margin-top:25px;
  color:green;
}

.hero-item-link{
  border:1px solid gray;
  padding:15px;
  background-color:silver;
}

.hero-item-link:hover{
  background-color:white;
}

.hero-item-text{
  display:inline-block;
}

.hero-title{
  color:black;
}

.hero-description{
  color:black;
}

.hero-price{
  display:inline-block;
  color:green;
  background-color:black;
}



.order-bar{
  @include span-columns(4);
  border:1px solid black;
  margin-top:25px;
  background-color:white;
}

.your-order-text{
  font-size:20px;
  color:gray;
  padding:7px;
}

.your-order{
  text-align:center;
  padding:15px;
  border-bottom:1px solid gray;
  a{
    text-decoration:none;
  }
}

.company-name{
  text-align:center;
  color:green;
  margin-top:10px;
  border-bottom:1px solid gray;
}

.order-table{
  @include outer-container();
  padding-left:20px;
  margin-top:20px;
  border-bottom:1px solid gray;
}

.item-subtotal-table{
  @include span-columns(4);
}

 .left-table{
  @include span-columns(2 of 4);
  text-align:left;
  padding-bottom:10px;
}

.right-table{
  @include span-columns(2 of 4);
}

.delivery-pickup{
  text-align:center;
}

.delivery-icon-box{
  display:inline-block;
  padding:5px;
}

.pickup-icon-box{
  display:inline-block;
  padding:5px;
}

footer{
  margin-left:100px;
  margin-right:100px;
  margin-bottom:70px;
}

.home-footer,
.careers-footer,
.support-footer,
.blog-footer,
.com-footer,
.privacy-footer,
.terms-footer{
  padding-left:10px;
  padding-right:10px;
  display:inline-block;
  font-size:12px;
  padding-top:20px;
  a{
    color:gray;
    text-decoration:none;
  }
}
