@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
}

body{
  width:1280px;
  height:auto;

}

header{
  padding-left:100px;
  padding-right:100px;
  padding-top:30px;
  padding-bottom:30px;
}

.left-header{
  display:inline-block;
}

.vigilante{
  display:inline-block;
  padding-right:15px;
}

.vigilante-header{
  display:inline-block;
  font-size:28px;
}

.right-left-header{
  display:inline-block;
}

.riverside{
  display:block;
  font-weight:bold;
}

.hdt{
  display:block;
}

.right-header{
  display:inline-block;
  float:right;
}

.home{
  display:inline-block;
  padding:10px;
}

.support{
  display:inline-block;
  padding:10px;
}

.sign-in{
  display:inline-block;
  padding:10px;
  border:1px solid gray;
}

.title{
  background-image: url("./images/hero-landscape.jpg");
}

.title-contents{
  padding-left:100px;
  padding-right:100px;
}

.go-back{
  display:block;
  padding-bottom:40px;
}

.main-title-contents{
  display:block;
}

.large-logo{
  display:inline-block;
  background-color:silver;
  border-radius:50%;
}

.restaurant-description{
  display:inline-block;
  list-style:none;
  padding-bottom:40px;
}

.restaurant-name{
  font-size:24px;
  padding-bottom:7px;
}

.restaurant-address{
  padding-bottom:3px;
}

.stars{
  display:inline-block;
}

.yelp{
  display:inline-block;
}

.store-hours,
.delivery-time,
.delivery-minimum,
.delivery-cost{
  display:inline-block;
}

.menu-toggles{
  display:block;
}

.menu-toggle{
  display:inline-block;
  padding:10px;
  border:1px solid gray;
}

.info-toggle{
  display:inline-block;
  padding:10px;
  border:1px solid gray;
}

.reviews{
  display:inline-block;
  padding:10px;
  border:1px solid gray;
}

.search-menu{
  padding-left:100px;
}

.contents{
  padding-right:100px;
  padding-left:100px;
  background-color:silver;
  @include outer-container(1280px);
}

.main-container{
  @include span-columns(12);
}

.menu-items{
  @include span-columns(8);
}

.heroes{
  padding:10px;
  border:1px solid gray;
  list-style:none;
  font-size:20px;
  margin-top:20px;
  color:gray;
}

.order-bar{
  @include span-columns(4);
}

h5{
  font-size:16px;
  color:gray;
  padding:0px;
}

.your-order{
  text-align:center;
}

.company-name{
  text-align:center;
}

.item-price{
  text-align:right;
}

.delivery-pickup{
  text-align:center;
}

.delivery-icon-box{
  display:inline-block;
  padding:5px;
}

.pickup-icon-box{
  display:inline-block;
  padding:5px;
}

footer{
  padding-left:100px;
  padding-right:100px;
}

.home-footer,
.careers-footer,
.support-footer,
.blog-footer,
.com-footer,
.privacy-footer,
.terms-footer{
  padding-left:10px;
  padding-right:10px;
  display:inline-block;
  font-size:12px;
}
